.main-form-container {
  margin: 100px;
}

.main-form {
  margin: 0px auto;
  border: 1px solid #555;
  border-radius: 20px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 70%;
  min-width: 400px;
}

.main-form form {
  margin: 0px;
  margin-bottom: 3px;
  display: block;
}

.main-form-title {
  font-size: 120%;
  font-weight: bold;
}

.form-section {
  margin-top: 10px;
  border: 1px solid #555;
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 7px;
}

.input-container {
  width: 100%;
}

.input-container ~ .input-container {
  margin-top: 10px;
}

.form-section ~ .input-container {
  margin-top: 10px;
}

.input {
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 105%;
  width: 100%;
}

input.input {
  border: 1px solid #555;
  border-radius: 6px;
  background: #333;
  color: inherit;
}

.input-label {
  margin-bottom: 2px;
  font-size: 80%;
  font-weight: 600;
}

.main-form label {
  display: none;
}

.form-submit {
  margin-top: 10px;
  border: 1px solid #555;
  border-radius: 6px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  font-size: 105%;
  background: var(--accent-color);
  color: inherit;
  cursor: pointer;
}

.form-submit:hover {
background: var(--accent-color-hover);
}
