body {
  margin: 0px;

  background: #111;
  color: #eee;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --accent-color: #611E9B;
  --accent-color-hover: #7120b0;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  margin: 0px;
  border: none;
  padding: 0px;

  background: #282828;
  display: flex;
}

.menu-button {
  margin: 0px;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

  text-decoration: none;
  font-weight: 550;
  font-size: 150%;
  color: inherit;
  background: inherit;
}

.menu-button:hover {
  background: #383838;
}

.main-menu-button {
  font-weight: 800;
}

.main-menu-button:hover {
  background: var(--accent-color);
}

.button-container {
  display: flex;
}

.header-trailing {
  margin-left: auto;
}